
.container {
    border: gray solid 1px;
    width: 300px;
    height: 400px;
    display: grid;
    grid-template-rows: 100px auto;
}

.viewport {
    display:flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: gray solid 1px;
    padding:10px;
}

.row-1 {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
